@model List<Survey.Entities.Statistical>
@using Survey.Enums;

<h4>Đánh giá chung</h4>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>TT</th>
            <th>Nội dung</th>
            <th>Điểm TB</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Công tác chuẩn bị giảng dạy, huấn luyện.</td>
            <td>
                @{
                    int sum = 0;
                    sum = Model.Where(x => x.QuizType == QuizType.Content1).Sum(x => x.Vote1);
                    sum += 2 * Model.Where(x => x.QuizType == QuizType.Content1).Sum(x => x.Vote2);
                    sum += 3 * Model.Where(x => x.QuizType == QuizType.Content1).Sum(x => x.Vote3);
                }
                @(sum / (3 * Model.Count()))
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Họ tên</th>
            <th>Số lựa chọn 1</th>
            <th>Số lựa chọn 2</th>
            <th>Số lựa chọn 3</th>
            <th>Số lựa chọn 4</th>
            <th>Tổng số lượt vote</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Vote0</td>
                <td>@item.Vote1</td>
                <td>@item.Vote2</td>
                <td>@item.Vote3</td>
                <td>@item.TotalQuiz</td>
            </tr>
        }
    </tbody>
</table>