@model Survey.Models.Vote
@using Survey.Enums;

@{
    ViewData["Title"] = Model.Name;
}
<link rel="stylesheet" href="/lib/icheck/skins/flat/red.css">

<div class="mb-3 text-right">
    Xin chào, <b>@ViewBag.User</b>
</div>

@if(Model == null) {
    <div class="alert alert-info font-weight-bold">
        <i class="fas fa-exclaiming"></i> Hiện tại chưa có khảo sát nào!
    </div>
}
else 
{
<form action="/vote/create" method="POST">
<input type="hidden" name="TicketId" value="@Model.TicketId" />
    
        @foreach (var item in Model.Quizzes)
        {
            int i = 0;
            if(item.Key == QuizType.Content1) {
                <h4>Công tác chuẩn bị giảng dạy, huấn luyện</h4>
                <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>TT</th>
                    <th>Nội dung</th>
                    <th colspan="4">Mức độ</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var quiz in item)
            {
                i++;
                <tr>
                    <td class="text-center">@i</td>
                    <td class="font-weight-bold mb-2">@(quiz.Title)</td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level1[@i]" value="0" required/>
                    </td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level1[@i]" value="1" required/>
                    </td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level1[@i]" value="2" required/>
                    </td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level1[@i]" value="3" required/>
                    </td>
                </tr>
            }
            </tbody>
        </table>
            }
            else if(item.Key == QuizType.Content2) 
            {
                <h4>Nội dung giảng dạy, huấn luyện.</h4>
                <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>TT</th>
                    <th>Nội dung</th>
                    <th colspan="4">Mức độ</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var quiz in item)
            {
                i++;
                <tr>
                    <td class="text-center">@i</td>
                    <td class="font-weight-bold mb-2">@(quiz.Title)</td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level2[@i]" value="0" required/>
                    </td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level2[@i]" value="1" required/>
                    </td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level2[@i]" value="2" required/>
                    </td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level2[@i]" value="3" required/>
                    </td>
                </tr>
            }
            </tbody>
        </table>
            }
            else if(item.Key == QuizType.Content3) 
            {
                <h4>Phương pháp giảng dạy, huấn luyện</h4>
                <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>TT</th>
                    <th>Nội dung</th>
                    <th colspan="4">Mức độ</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var quiz in item)
            {
                i++;
                <tr>
                    <td class="text-center">@i</td>
                    <td class="font-weight-bold mb-2">@(quiz.Title)</td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level3[@i]" value="0" required/>
                    </td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level3[@i]" value="1" required/>
                    </td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level3[@i]" value="2" required/>
                    </td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level3[@i]" value="3" required/>
                    </td>
                </tr>
            }
            </tbody>
        </table>
            }
            else if(item.Key == QuizType.Content4) 
            {
                <h4>Tổ chức giảng dạy, huấn luyện.</h4>
                <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>TT</th>
                    <th>Nội dung</th>
                    <th colspan="4">Mức độ</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var quiz in item)
            {
                i++;
                <tr>
                    <td class="text-center">@i</td>
                    <td class="font-weight-bold mb-2">@(quiz.Title)</td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level4[@i]" value="0" required/>
                    </td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level4[@i]" value="1" required/>
                    </td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level4[@i]" value="2" required/>
                    </td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level4[@i]" value="3" required/>
                    </td>
                </tr>
            }
            </tbody>
        </table>
            }
            else if(item.Key == QuizType.Content5) 
            {
                <h4>Thái độ, trách nhiệm của giảng viên.</h4>
                <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>TT</th>
                    <th>Nội dung</th>
                    <th colspan="4">Mức độ</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var quiz in item)
            {
                i++;
                <tr>
                    <td class="text-center">@i</td>
                    <td class="font-weight-bold mb-2">@(quiz.Title)</td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level5[@i]" value="0" required/>
                    </td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level5[@i]" value="1" required/>
                    </td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level5[@i]" value="2" required/>
                    </td>
                    <td class="mb-2 text-center">
                            <input type="radio" name="Level5[@i]" value="3" required/>
                    </td>
                </tr>
            }
            </tbody>
        </table>
            }
            
        }

<div class="mt-3 text-center">
    <button class="btn btn-primary px-4" type="submit" @ViewBag.Disabled>Gửi</button>
    <button class="btn btn-secondary px-4" type="reset">Hủy</button>
</div>
</form>
}

@section scripts {
    <script src="/lib/icheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){
          $('input').iCheck({
            checkboxClass: 'icheckbox_flat-red',
            radioClass: 'iradio_flat-red'
          });
        });
    </script>
}